@mixin icon
{
  background-image: $lightbox-icons;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-arrow
{
  @include icon;
  background-size: 744px 175px;
  height: 32px;

  &.left
  {
    background-position: -268px -78px;
    width: 32px;
  }

  &.right
  {
    background-position: -340px -78px;
    width: 32px;
  }
}

.icon-btn
{
  @include icon;
  background-size: 744px 175px;
  height: 52px;

  &.credit
  {
    background-position: 0 -71px;
    width: 64px;
  }

  &.debit
  {
    background-position: -91px -71px;
    width: 64px;
  }

  &.bank-slip
  {
    background-position: -191px -71px;
    width: 55px;
  }
}

.icon-security
{
  margin: .3125rem;
  height: 24px;
  width: 26px;
}

.icon-logo
{
  @include icon;
  background-size: 475px 112px;
  background-position: 0 -91px;
  margin: .3125rem;
  opacity: .75;
  float: right;
  height: 24px;
  width: 108px;
}

.icon-proccessed-by
{
  color: rgb(199, 199, 199);
  margin-left: 426px;
  padding: 2px;
  float: left;
  opacity: .75;
}

.icon-mark
{
  @include icon;
  background-size: 1600px 376px;

  &.check
  {
    background-position: -1158px -115px;
  }

  &.exclamation
  {
    background-position: -1300px -115px;
  }
}

.icon-pay-method
{
  @include icon;
  background-size: 475px 112px;
  height: 36px;
  margin: 0 2px;

  &.visa
  {
    background-position: 0 0;
    width: 55px;
  }

  &.mastercard
  {
    background-position: -68px 0;
    width: 50px;
  }

  &.elo
  {
    background-position: -132px 0;
    width: 36px;
  }

  &.dinersclub
  {
    background-position: -182px 0;
    width: 38px;
  }

  &.hipercard
  {
    background-position: -243px 0;
    width: 62px;
  }

  &.amex
  {
    background-position: -320px 0;
    width: 65px;
  }

  &.banesecard
  {
    background-position: -397px 0;
    width: 30px;
  }

  &.bank-slip
  {
    background-position: -442px 0;
    width: 37px;
  }
}

.device-icon
{
  background-size: 100% 100%;
  width: 100%;
  height: 100%;

  &.insert-card
  {
    background-image: $lightbox-icon-insert-card
  }

  &.type-password
  {
    background-image: $lightbox-icon-type-password
  }
}
