.installment-options
{
  font-weight: normal;
  max-height: 12.5rem;
  overflow: auto;
  position: relative;
  width: 100%;

  > label
  {
    display: block;
    font-size: 13pt;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-align: center;

    input[type=radio]
    {
      position: absolute;
      opacity: 0;

      &,
      &::after,
      &::before,
      & *,
      & *::after,
      & *::before,
      & + span
      {
        box-sizing: border-box;

        &::selection
        {
          background: none;
        }
      }

      &:focus + .installment-option,
      &:checked + .installment-option
      {
        color: map-get($theme-colors, "primary");
        font-weight: bold;
      }
    }

    .installment-option
    {
      background-color: transparent;
      display: table;
      margin: 0 auto .625rem auto;
      width: 75%;
      transition: background-color .3s ease;

      .installment-number,
      .installment-value
      {
        display: table-cell;
        vertical-align: middle;
      }

      .installment-number
      {
        border: .0625rem solid map-get($theme-colors, "primary");
        border-radius: 50%;
        text-align: center;
        height: 2.75rem;
        width: 2.75rem;
      }

      .installment-value
      {
        padding-left: .625rem;
        text-align: left;

        > small
        {
          color: map-get($theme-colors, "secondary");
          display: block;
          font-size: 70%;
        }
      }
    }
  }
}
