/*!
 * Paggcerto v1.1.0
 * Copyright 2018 Paggcerto
 */

#paggcerto-lightbox
{
  @import 'variables';

  @import "node_modules/bootstrap/scss/functions";
  @import "node_modules/bootstrap/scss/variables";
  @import "node_modules/bootstrap/scss/mixins";
  @import "node_modules/bootstrap/scss/mixins/breakpoints";
  @import "node_modules/bootstrap/scss/mixins/grid-framework";
  @import "node_modules/bootstrap/scss/mixins/grid";
  @import "node_modules/bootstrap/scss/alert";
  @import "node_modules/bootstrap/scss/buttons";
  @import "node_modules/bootstrap/scss/grid";
  @import "node_modules/bootstrap/scss/input-group";
  @import "node_modules/bootstrap/scss/reboot";
  @import "node_modules/bootstrap/scss/type";
  @import "node_modules/bootstrap/scss/utilities";

  @import 'alert';
  @import 'buttons';
  @import 'forms';
  @import 'icons';
  @import 'installments';
  @import 'lightbox';
  @import 'pay-method';
  @import 'spinner';
  @import 'toggle-switch';
  @import 'util';
}

body.paggcerto-lightbox-show #paggcerto-lightbox
{
  .paggcerto-lightbox-backdrop,
  .paggcerto-lightbox-dialog
  {
    opacity: 1;
    visibility: visible;
  }

  .paggcerto-lightbox-dialog
  {
    transform: scale(1) translate(-50%, -50%);
  }
}
